li {
  display: flex;
  margin-bottom: 1rem;

  & label.nes-container.is-dark {
    background-color: #1f567b;
    width: 100%;
  }

  & i.nes-icon.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    &::before {
      color: #fff;
    }
  }
}
